.card {
    height: 325px;
    width: 325px;
    object-fit: contain;
    overflow: hidden;
}

.card img {
    height: 100%;
    max-width: 100%;
}

.card img:hover {
    transform: scale(0.98);
}

.card img:active {
    transform: scale(0.96);
}